@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.superior{
    width: 100%;
    height: 80px;
    background-color: black;
}
.superior a:hover{
    background-color: grey;
    height: 80px;
}
.barra-superior{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-superior ul{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    display: flex;
}
.barra-superior a{
 color: white;
 text-decoration: none;
 text-transform: uppercase;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding: 20px 20px;
}
.parte2{
    width: 100%;
    height: 400px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.parte2 h2{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Bebas neue', cursive;
    text-decoration: none;
    justify-self: start;
}
.parte2 h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-self: start;
}
.parte2 h3{
    font-family: 'Bebas neue', cursive;
    font-size: 22px;
    text-decoration: none;
    padding-bottom: 17px;
}
.parte2 p{
    width: 180px;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: white;
    border: 2px #272727;
    background-color: #272727;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
}
.parte2 p:hover{
    background-color: grey;
    text-decoration: underline;
}
.Sobre-Mim{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: white;
}
.Sobre-Mim h2{
    font-family: 'Bebas neue', cursive;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 630px;
}
.Sobre-Mim h3{
    font-family:'Bebas neue', cursive;
    margin-left: 110px;
    margin-top: 100px;
    font-size: 20px;
}
.Sobre-Mim p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 110px;
    border: solid 1px white;
    width: 380px;
    display: flex;
    margin-top: 15px;
}
.Sobre-Mim h4{
    font-family:'Bebas neue', cursive;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: 2px #272727;
    background-color: #272727;
    width: 130px;
    padding: 10px;
    margin-left: 110px;
    text-align: center;
    margin-top: -80px;
}
.Sobre-Mim h4:hover{
    background-color: grey;
    text-decoration: underline;
}

.barras h2{
    font-family: 'Bebas neue', cursive; 
    margin-top: 130px;
    padding-left: 200px;
}
.barras{
    width: 40%;
    height: 300px;
    margin-left: 700px;
    margin-top: -320px;
   
}
.Design h3{
    font-family: 'Bebas neue', cursive; 
    font-size: 20px;
}
.barra-fundo{
    background: grey;
    height: 15px;
    width: 500px;
    border-radius: 15px;
}
.design-progresso{
    background-color: black;
    height: 15px;
    width: 400px;
    border-radius: 15px;
    position: relative;
    top: -15px;
}
.espaço{
    padding: 10px;
}
.html-progresso{
    background-color: black;
    height: 15px;
    width: 470px;
    border-radius: 15px;
    position: relative;
    top: -15px;
    padding-bottom: 10px;
}
.Html h3{
    font-family: 'Bebas neue', cursive; 
    font-size: 20px;
}
.wordpress h3{
    font-family: 'Bebas neue', cursive; 
    font-size: 20px;
    padding-bottom: 10px;
}
.Word-progresso{
    background-color: black;
    height: 15px;
    width: 300px;
    border-radius: 15px;
    position: relative;
    top: -15px;
}
.meus-trabalhos{
    width: 100%;
    height: 650px;
    background-color: #F5F5F5;
    padding-bottom: 10px;
}
.meus-trabalhos h2{
    font-family: 'Bebas neue', cursive;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 600px;
}
.meus-trabalhos img{
    padding-left: 68px;
    margin-top: 35px;
}
.trbmeu img{
    padding-left: 370px;
    margin-top: -450px;
    display: flex;
    padding-bottom: 100px;
}

.imgmeu img{
    padding-left: 670px;
    margin-top: -550px;
    display: flex;
    padding-bottom: 100px;
}
.meutrb img{
    padding-left: 970px;
    margin-top: -550px;
    display: flex;
    padding-bottom: 100px;
}
.rodapé{
    width: 100%;
    height:60px;
}
.rodapé h4{
    width: 80%;
    background-color: white;
    margin-left: 70px;
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: right;
    padding-top: 10px;
}
.redes-sociais{
    display: flex;
    position: relative;
    margin-left: 750px;
    margin-top: -50px;
    text-transform: uppercase;
    font-size: 15px;
}
.rds{
    display: flex;
    position: relative;
    margin-left: 880px;
    margin-top: -17.2px;
    text-transform: uppercase;
    font-size: 15px;
}
.rede{
    display: flex;
    position: relative;
    margin-left: 1010px;
    margin-top: -17.2px;
    text-transform: uppercase;
    font-size: 15px;
}
.sociais{
    display: flex;
    position: relative;
    margin-left: 1140px;
    margin-top: -17.2px;
    text-transform: uppercase;
    font-size: 15px;

}
